<!DOCTYPE html>
<html>
<head>
  <title>appsw</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  
  
  
<body>
  <%= render partial: "/shared/menu"%>
  <%= render partial: "/shared/header"%>
  <div class="container">
      <%= yield %>
  </div>
 
<footer>
  <h1>GIRLS ON RAILS</h1>
</footer>
  
  
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>

</html>